
/*Fuente principal del proyecto*/
$font-stack: 'Arima', cursive;

/*Color principal*/
$nougat-color-principal-1:rgb(241, 173, 186);

/*Color principal (alternativo)*/
$nougat-color-principal-2: #00ccb1;

/*Color secundario*/
$nougat-color-secundario: #f6f1e8;

/*Colores oscuros permitidos con la marca*/
$nougat-color-gris: darkgray;
$nougat-color-negro: #444;