$font-stack: 'Arima', cursive;

$nougat-color-principal-1:rgb(241, 173, 186);
$nougat-color-principal-2: #00ccb1;
$nougat-color-secundario: #f6f1e8;
$nougat-color-gris: darkgray;
$nougat-color-negro: #444;

@mixin menu($color: white, $background: $nougat-color-principal-1) {
    background: $background;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    vertical-align: top;
}

h1 {
    color: $nougat-color-negro;
}

.list-reset {
    list-style: none;
    padding-left: 0;
}

.menu {
    @include menu(#fff, $nougat-color-principal-1);
}

.color-rosa {
    color: $nougat-color-principal-1;
}

.color-manteca {
    color: $nougat-color-secundario;
}

.color-gris {
    color: $nougat-color-gris;
}

.color-negro {
    color: #000;
}

.header-nav {

   a {
        color: $nougat-color-secundario;

        &:hover {
            color: $nougat-color-secundario;
            text-decoration: underline;
        }
    }
}
 
/* FOOTER */
.footer-container {
    @include menu(darkgray, $nougat-color-secundario);

    width: 100%;
    height: 100%;
}


/* CAROUSEL */
.carousel-principal {
    min-height: 400px;
}

.carousel-item {
    height: 400px;
}

.nougat-carousel-caption {
    background-color: rgba($color: #444, $alpha: 0.2);
    color: $nougat-color-secundario;
}

.btn-primary {
    background-color: $nougat-color-principal-2;
    border: 1px solid $nougat-color-principal-2;
    color: white;

    &:hover, &:active, &:visited, &:focus, &:active:focus {
        background-color: $nougat-color-principal-2;
        border: 1px solid $nougat-color-principal-2;
        color: white;
        text-decoration: underline;
    }
}


.zoom {
    transition: transform .2s;
    margin: 0 auto;

    &:hover {
        transform: scale(1.5);
      }
  }
  
.card {border: none;}
.catalogo-card-header {
    padding-left:0;
    background-color: white;
    color: $nougat-color-principal-2;
    border: none;
}


.accordion-button {
    color: $nougat-color-principal-1;
    background-color: white;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);

    &:active, &:focus {
        box-shadow: none;
    }
}

.accordion-button:not(.collapsed) {
    color: $nougat-color-principal-2;
    background-color: $nougat-color-secundario;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}